.bl-de-row { display: flex; margin-left: -15px; margin-right: -15px;
	.bl-de-col { width: 100%; padding-left: 15px; padding-right: 15px;
		&.col-left { min-width: 100px; max-width: 100px; }
	}

	@include breakpoint(tablet) {
		.bl-de-col { 
			&.col-left { min-width: 80px; max-width: 80px; }
		}
	}

	@media (max-width: 575px) { display: block;
		.bl-de-col { 
			&.col-left { max-width: 100%; }
		}	
	}
}
.bl-de-col { }

.bl-de-sns {
	> li { margin-bottom: 15px;
		&:last-child { margin-bottom: 0; }

		a { display: flex; align-items: center; justify-content: center; width: 45px; height: 45px; border: 2px solid $coWhite; font-size: 16px; color: inherit; @extend .bp-circle;
			&:hover { background-color: $coNeonGreen; border-color: $coNeonGreen; color: $defaultColor;
				&.sns-fb { background-color: #3b5999; border-color: #3b5999; color: $coWhite; }
				&.sns-twitter { background-color: #1da1f2; border-color: #1da1f2; color: $coWhite; }
			}
		}
	}

	@media (max-width: 575px) {
		> li { display: inline-block; vertical-align: top; margin-right: 7px;
			&:last-child { margin-right: 0; }

			a { width: 35px; height: 35px; font-size: 14px; }
		}
	}
}

.bl-de-par {
	> * {
		&:last-child { margin-bottom: 0; }
	}

	p { margin-bottom: 25px; }
}