// include all imported fonts here even google fonts
@charset 'utf-8';
/** font face **/
.font-a { font-family: 'Montserrat', 'Helvetica', 'Calibri'; }
@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/Montserrat-Regular.eot?#iefix') format('embedded-opentype'),  url('../fonts/Montserrat-Regular.woff') format('woff'), url('../fonts/Montserrat-Regular.ttf')  format('truetype'), url('../fonts/Montserrat-Regular.svg#Montserrat-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/Montserrat-SemiBold.eot?#iefix') format('embedded-opentype'),  url('../fonts/Montserrat-SemiBold.otf')  format('opentype'),
	     url('../fonts/Montserrat-SemiBold.woff') format('woff'), url('../fonts/Montserrat-SemiBold.ttf')  format('truetype'), url('../fonts/Montserrat-SemiBold.svg#Montserrat-SemiBold') format('svg');
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/Montserrat-Bold.eot?#iefix') format('embedded-opentype'),  url('../fonts/Montserrat-Bold.woff') format('woff'), url('../fonts/Montserrat-Bold.ttf')  format('truetype'), url('../fonts/Montserrat-Bold.svg#Montserrat-Bold') format('svg');
  font-weight: bold;
  font-style: normal;
}

.font-b { font-family: 'SukhumvitSet', 'Helvetica', 'Calibri'; }
@font-face {
  font-family: 'SukhumvitSet';
  src: url('../fonts/SukhumvitSet-Bold.eot?#iefix') format('embedded-opentype'),  url('../fonts/SukhumvitSet-Bold.woff') format('woff'), url('../fonts/SukhumvitSet-Bold.ttf')  format('truetype'), url('../fonts/SukhumvitSet-Bold.svg#SukhumvitSet-Bold') format('svg');
  font-weight: bold;
  font-style: normal;
}

.font-c { font-family: 'BebasNeue', 'Helvetica', 'Calibri'; }
@font-face {
  font-family: 'BebasNeue';
  src: url('../fonts/BebasNeueBold.eot?#iefix') format('embedded-opentype'),  url('../fonts/BebasNeueBold.otf')  format('opentype'),
	     url('../fonts/BebasNeueBold.woff') format('woff'), url('../fonts/BebasNeueBold.ttf')  format('truetype'), url('../fonts/BebasNeueBold.svg#BebasNeueBold') format('svg');
  font-weight: bold;
  font-style: normal;
}

.font-d { font-family: 'Kanit', 'Helvetica', 'Calibri'; }
@font-face {
  font-family: 'Kanit';
  src: url('../fonts/Kanit-Regular.eot?#iefix') format('embedded-opentype'),  url('../fonts/Kanit-Regular.woff') format('woff'), url('../fonts/Kanit-Regular.ttf')  format('truetype'), url('../fonts/Kanit-Regular.svg#Kanit-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Kanit';
  src: url('../fonts/Kanit-Italic.eot?#iefix') format('embedded-opentype'),  url('../fonts/Kanit-Italic.woff') format('woff'), url('../fonts/Kanit-Italic.ttf')  format('truetype'), url('../fonts/Kanit-Italic.svg#Kanit-Italic') format('svg');
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: 'Kanit';
  src: url('../fonts/Kanit-Medium.eot?#iefix') format('embedded-opentype'),  url('../fonts/Kanit-Medium.woff') format('woff'), url('../fonts/Kanit-Medium.ttf')  format('truetype'), url('../fonts/Kanit-Medium.svg#Kanit-Medium') format('svg');
  font-weight: 500;
  font-style: normal;
}

.font-e { font-family: 'SukhumvitSet', 'Helvetica', 'Calibri'; }
@font-face {
  font-family: 'SukhumvitSet';
  src: url('../fonts/SukhumvitSet-SemiBold.eot?#iefix') format('embedded-opentype'),  url('../fonts/SukhumvitSet-SemiBold.woff') format('woff'), url('../fonts/SukhumvitSet-SemiBold.ttf')  format('truetype'), url('../fonts/SukhumvitSet-SemiBold.svg#SukhumvitSet-SemiBold') format('svg');
  font-weight: 600;
  font-style: normal;
}
/** font face **/