// ionclude all your related style here in the footer, you can leave it empty if the page has no footer
footer { z-index: 2; position: relative; }
.footer-content { background-color: $coBlack; color: $coWhite; }
.footer-top { padding-top: 28px; padding-bottom: 28px; background-color: $coGray2;
	@media (max-width: 575px) {
		.row {
			[class*="col"] { margin-bottom: 30px;
				&:last-child { margin-bottom: 0; }
				.button { display: block; }
				.bp-img img { width: 140px; }
			}
		}
	}

	@include breakpoint(mobile) { padding-top: 30px; padding-bottom: 30px; }
}
.fo-to-col { }
.ft-co-set { display: flex; align-items: center; justify-content: space-between; @extend .fz-18;
	* { margin-bottom: 0; }

	.button {
		&.button-primary { margin-top: 15px; border-radius: 5px; }
	}
	
	h1 { font-weight: bold; line-height: 1.0; @extend .fz-50; }

	@media (min-width: 1400px) {
		h1 { font-size: 56px; }
	}
	@media (max-width: 1200px) {
		> * { max-width: 50%; }
	}
	@include breakpoint(desktop) { display: block !important; align-items: top;
		> * { max-width: 100%; margin-bottom: 25px;
			&:last-child { margin-bottom: 0; }
		}

		.button {
			&.button-primary { margin-top: 0; }
		}

		.bp-img { text-align: center; }
	}
}

.footer-center { padding-top: 15px; padding-bottom: 15px; background-color: $coNeonGreen; color: $coGray2;
	@include breakpoint(mobile) { padding-top: 30px; padding-bottom: 30px; }
}

.fo-ce-col { text-align: center;
	> * { margin-right: 100px;
		&:last-child { margin-right: 0; }
	}

	&.col-v2 {
		> * { margin-right: 60px; }
	}

	@include breakpoint(macbook) {
		> * { margin-right: 50px; }
	}

	@include breakpoint(tablet) {
		> * { margin-right: 0; }

		&.col-v2 {
			> * { margin-right: 0; }
		}
	}

	@include breakpoint(mobile) {
		h1 { font-size: 16px; }
	}
}
.fo-ce-list { display: flex; align-items: center; justify-content: center;
	> li { display: inline-block; vertical-align: middle; margin-left: 20px; margin-right: 20px;
		&:first-child { margin-left: 0; }
		&:last-child { margin-right: 0; }
	}

	&.list-2 {
		> li { margin-left: 35px; margin-right: 35px; opacity: 0.7; @extend .ease2;
			&:hover { opacity: 1; }
		}
	}

	@include breakpoint(desktop) {
		> li { margin-left: 10px; margin-right: 10px; }

		&.list-2 {
			> li { margin-left: 15px; margin-right: 15px; }
		}
	}

	@include breakpoint(mobile) {
		> li { margin-left: 0; margin-right: 0; }

		&.list-2 { margin-top: 5px;
			> li {
				img { width: 80px; }
			}
		}
	}
}

.footer-bottom { padding-top: 80px; padding-bottom: 80px;
	@include breakpoint(laptop) { padding-top: 30px; padding-bottom: 30px; }
	@media (max-width: 576px) { text-align: center;
		.he-co-sns { margin: 35px 0 25px 0; }
	}
}