// ionclude all your related style here in the header, you can leave it empty if the page has no header
html, body { height:100%; min-height:100%; }
body {
	&.bg-gray-1 { color: $coWhite; }
}

header { z-index: 100; position: fixed; top: 0; left: 0; width: 100%; background-color: $coGray1; color: $coWhite; }
.header-content { padding-top: 30px; padding-bottom: 30px;
	> .d-flex { max-width: 100%; }

	@media (max-width: 1400px) {
		[class*="col"] {
			&.logo, &.col-small { flex: 0 0 20%; max-width: 20%; }
			&.col-large { flex: 0 0 60%; max-width: 60%; }
		}
	}

	@media (max-width: 1200px) { padding-top: 20px; padding-bottom: 20px;
		[class*="col"] {
			&.col-small { flex: 0 0 15%; max-width: 15%; }
			&.col-large { flex: 0 0 65%; max-width: 65%; }
		}
	}

	@include breakpoint(laptop) { padding-top: 15px; padding-bottom: 15px;
		[class*="col"] {
			&.logo { flex: 0 0 50%; max-width: 50%;
				img { width: 195px; }
			}
			&.col-small, &.col-large { display: none !important; }
		}	
	}

	// [class*="col-"] { outline: 1px solid red; }
}

.he-co-sns {
	> li { display: inline-block; vertical-align: middle; margin: 0 12px;
		&:first-child { margin-left: 0; }
		&:last-child { margin-right: 0; }

		a { display: block; color: inherit;
			&:hover {
				&.sns-fb { color: #3b5999; }
				&.sns-twitter { color: #1da1f2; }
				&.sns-ig { color: #de2b7c; }
			}
		}
		[class*="fa"] { font-size: 22px;
			&.fa-facebook-f { font-size: 20px; }
		}
	}
}

.hc-co-col {
	> * { margin-right: 100px;
		&:last-child { margin-right: 0; }
	}

	@media (max-width: 1800px) {
		> * { margin-right: 30px; }
	}
	// @media (max-width: 1200px) {
	// 	> * { margin-right: 20px; }
	// }
	@include breakpoint(laptop) {
		> * { margin: 0; }
	}
}

.menu { @extend .fz-14;
	> ul {
		> li { display: inline-block; vertical-align: middle; margin-left: 50px; margin-right: 50px;
			&:first-child { margin-left: 0; }
			&:last-child { margin-right: 0; }

			a { display: block; color: $coWhite; text-transform: uppercase; font-weight: bold; }

			&:hover, &.active, &.selected, &.current {
				a { color: $coNeonGreen; }
			}
		}
	}


	@media (max-width: 1800px) {
		> ul {
			> li { margin-left: 30px; margin-right: 30px; }
		}
	}

	@media (max-width: 1200px) {
		> ul {
			> li { margin-left: 20px; margin-right: 20px; }
		}
	}
}