.ho-co-prof { padding-top: 15px; padding-bottom: 15px; background-color: $coBlack; color: $coWhite; border-bottom: 1px solid $coGray4; }

.ho-co-hero { min-height: 400px; position: relative; background-color: $coBlack; color: $coWhite; overflow: hidden;
	.ho-co-hero-logo { bottom: -168px; }
	@include breakpoint(tablet2) {
		.ho-co-hero-logo { width: 500px; max-width: 100%; bottom: calc(50% - 250px); }
	}
	@include breakpoint(mobile) {
		.ho-co-hero-logo { width: 150%; max-width: 150%; left: inherit; right: 0; bottom: calc(50% - 35%); }
	}
}
.ho-co-hero-logo { position: absolute; bottom: 0; left: 0; @extend .bp-img;
	@include breakpoint(tablet2) {
		img { display: block; width: 100%; }
	}
}

.hc-he-par {
	@media (max-width: 992px) { max-width: calc(400px + 30px); margin-left: auto; margin-right: auto; }
}

.ho-co-par { max-width: 500px;
	&.par-2 { max-width: 440px; }
	> * {
		&:last-child { margin-bottom: 0; }
	}
}

.hc-he-banner { position: relative; /**margin-left: 50px;**/ margin-top: 38px; pointer-events: none; user-select: none; @extend .bp-img;
	@include breakpoint(macbook) { width: calc(85% - 80px); max-width: 389px; }
	@include breakpoint(tablet2) { width: calc(100% - 30px); max-width: 300px; margin-bottom: calc(130px + 30px); }
}
.hc-he-glass { position: relative; }
.hc-he-icons { z-index: 3; position: absolute; bottom: 70px; right: -250px; width: 100%; max-width: 372px; pointer-events: none; user-select: none;
	img { display: block; width: 100%; }
	[class*="icon"] { position: absolute; }
	.icon-1 { z-index: 3; bottom: 0; right: 0; width: 46.50%; }
	.icon-2 { bottom: 0; left: 0; width: 45.96%; }
	.icon-3 { bottom: 35.35%; left: 26.88%; width: 33.33%; }
	.icon-4 { top: 0; right: 0.53%; width: 33.33%; }

	@include breakpoint(macbook) { width: 85%; right: calc(-50% + 15px); }
	@include breakpoint(tablet2) { width: calc(100% + 40px); bottom: -130px; right: -20px; }
	@include breakpoint(mobile2) { width: calc(100% + 30px); right: -15px; }
}

.he-pr-img { text-align: center; @extend .bp-img;
	@include breakpoint(tablet2) { margin-bottom: 30px;
		img { max-width: 70%; }
	}
}

.he-co-vid { position: absolute; top: 0; left: 0; width: 100%; height: 100%; overflow: hidden; @extend .bp-banner;
	&:after { z-index: 2; content: ''; display: block; position: absolute; top: 0; left: 0; width: 100%; height: 100%; background-color: rgba($coBlack, 0.6); }

	iframe { display: block; position: absolute; top: 0; left: 0; width: 100%; height: 100%; }
}

.he-co-play { @extend .bp-img;
	img { @extend .ease2; }
	&:hover {
		img { transform: scale(1.1); }
	}

	@include breakpoint(tablet2) {
		img { width: 50px; }
	}
}

.he-co-player { min-height: 645px;
	.section-main { width: 100%; }

	@include breakpoint(tablet2) { min-height: 530px; }
}

.he-co-pres { position: relative; padding-top: 85px; padding-bottom: 85px; /**outline: 1px solid red;**/
	@include breakpoint(laptop) { padding-top: 0; padding-bottom: 0; }
}
.hc-pr-main { position: relative; }
.hc-pr-phone { position: relative; max-width: 688px; margin-left: auto; margin-right: auto; text-align: center; pointer-events: none; user-select: none; @extend .bp-center, .bp-img; /**outline: 1px solid green;**/
	[class*="hp-ph"] { position: absolute; }

	@include breakpoint(macbook) { width: 50%; }
	@include breakpoint(laptop) { width: calc(100% - 60px); margin: 50px auto; }
	@include breakpoint(phablet) { width: 100%; margin: 40px auto 60px auto; }
}
.hp-ph-top { z-index: 2; top: 0; left: 0;
	@include breakpoint(laptop) { top: 5%; }
}
.hp-ph-bottom { bottom: -10px; right: 0; width: 96.36%; }

.hc-pr-par { z-index: 3;
	&.bp-ab { bottom: 0; left: 0; }

	@include breakpoint(laptop) {
		&.bp-ab { position: relative; }
	}
}

.sneaky-slider { display: block;
	@include breakpoint(laptop) { margin-left: -30px; margin-right: -30px; padding-left: 30px; padding-right: 30px; overflow: visible;
		.owl-stage-outer { overflow: visible !important; }
	}

	@include breakpoint(tablet2) { margin-left: -15px; margin-right: -15px; padding-left: 15px; padding-right: 15px; overflow: visible; }
}

.hc-pr-desc {
	&.owl-carousel { @extend .sneaky-slider; }
}
.hp-de-set { z-index: 3; position: absolute; top: 0; left: 0; max-width: 327px;
	h4 { position: relative; display: inline-block; font-family: $fontC; color: $coNeonGreen; text-transform: uppercase; @extend .fz-34; }
	&[desc-set="1"] { top: 8%; left: 0; }
	&[desc-set="2"] { top: -10.8%; left: inherit; right: 0; }
	&[desc-set="3"] { top: 56.86%; left: inherit; right: 0; }

	@include breakpoint(macbook) { width: calc(25% - 30px);
		&[desc-set="1"] { }
		&[desc-set="2"] { top: -8%; }
		&[desc-set="3"] { top: 60%; }
	}

	@include breakpoint(laptop) { position: relative; width: auto; max-width: 100%; top: 0 !important; }
}
.hd-se-par { max-width: 320px; }

.hd-se-img { max-width: 327px; padding: 21px 19px 20px 19px; background: url('../img/frame_feature.png') no-repeat center; background-size: 100% 100%; @extend .bp-img;
	@include breakpoint(desktop) { padding: 15px 13px 15px 15px; }
	@include breakpoint(laptop) { padding: 21px 19px 20px 19px; }
}

.hc-pr-arrows { user-select: none;
	.st0 { opacity: 0; }

	&.arrows-animate {
		.st1 { animation: dotStart 1.3s ease-in-out forwards; }

		.st2 { animation: lineOne 1.3s ease-in-out forwards; }
		.st2b { animation: lineOneB 1.3s ease-in-out forwards; }

		.st3 { animation: lineTwo 1.3s ease-in-out forwards; }
		.st3b { animation: lineTwoB 1.3s ease-in-out forwards; }
		.st3c { animation: lineTwoC 1.3s ease-in-out forwards; }

		.st4 { animation: dotEnd 1.3s ease-in-out forwards; }
	}

	@include breakpoint(laptop) { display: none; }
}

@keyframes dotStart {
	0% { opacity: 0; }
	10%, 100% { opacity: 1; }
}

@keyframes lineOne {
	0%, 10% { opacity: 0; width: 0; }
	50%, 100% { opacity: 1; width: 152px; }
}

@keyframes lineOneB {
	0%, 10% { opacity: 0; width: 0; }
	50%, 100% { opacity: 1; width: 177px; }
}

@keyframes lineTwo {
	0%, 40% { opacity: 0; width: 0; }
	80%, 100% { opacity: 1; width: 217px; }
}

@keyframes lineTwoB {
	0%, 40% { opacity: 0; width: 0; }
	80%, 100% { opacity: 1; width: 173px; }
}

@keyframes lineTwoC {
	0%, 40% { opacity: 0; width: 0; }
	80%, 100% { opacity: 1; width: 234px; }
}

@keyframes dotEnd {
	0%, 70% { opacity: 0; }
	90%, 100% { opacity: 1; }
}

.hp-ar-set { z-index: 2; position: absolute;
	&[arrow-set="1"] { width: 332px; }
	&[arrow-set="2"] { width: 311px; }
	&[arrow-set="3"] { width: 371px; }

	.st0 { fill: $coNeonGreen; }

	@include breakpoint(macbook) {
		&[arrow-set="1"] { width: calc(25% - 15px); }
		&[arrow-set="2"] { width: calc(25% - 15px); }
		&[arrow-set="3"] { width: calc(25% - 15px); }		
	}
}

.ho-fe-list { display: flex; margin-left: -12px; margin-right: -15px;
	> li { display: inline-block; vertical-align: top; margin-left: -3px; margin-right: -3px; padding-left: 15px; padding-right: 15px; }

	@media (max-width: 1300px) { display: block; margin-top: -15px; margin-bottom: -15px;
		> li { width: 25%; margin-top: 15px; margin-bottom: 15px; }
	}

	@include breakpoint(mobile) {
		> li { width: 50%; }
	}
}
.hf-li-set { text-align: center;
	> .bp-img { margin-bottom: 10px; }
	> * {
		&:last-child { margin-bottom: 0; }
	}
}

.ho-ce-review {
	.section-main { }
	.ho-co-hero-logo { }

	@include breakpoint(phablet) {
		.ho-co-hero-logo { width: 150%; }		
	}
}
.hc-re-slider {
	@media (max-width: 1200px) {
		.flexslider { padding-left: calc(50px + 15px); padding-right: calc(50px + 15px); }
	}

	@include breakpoint(laptop) {
		.flexslider { padding-left: 0; padding-right: 0; }
	}
}
.hc-re-img { position: relative; min-height: 482px; @extend .bp-img;
	img { display: block; position: absolute; bottom: 0; left: 0; }

	@include breakpoint(desktop) { min-height: 400px; }

	@media (max-width: 992px) { min-height: 0; text-align: center; margin-top: 30px;
		img { display: inline-block; position: relative; }
	}

	@include breakpoint(phablet) {
		img { max-width: calc(100% - 30px); }
	}
}
.hc-re-par { max-width: 600px;
	h1 { font-family: $fontE; line-height: 1.0; @extend .fz-44;
		&:not([class*="mb"]) { margin-bottom: 20px; }
	}
	h4 { color: $coNeonGreen; font-family: $fontD; font-weight: 500; @extend .fz-24; }
	p { line-height: 1.7; }

	@media (max-width: 992px) { margin-left: auto; margin-right: auto; }
}

.ho-pr-review {
	@media (max-width: 1200px) {
		.owl-carousel { margin-left: -30px; margin-right: -30px; padding-left: 30px; padding-right: 30px; overflow: visible;
			.owl-stage-outer { overflow: visible !important; }

			.owl-nav { display: none !important; }
		}
	}

	@include breakpoint(tablet2) {
		.owl-carousel { margin-left: -15px; margin-right: -15px; padding-left: 15px; padding-right: 15px; overflow: visible; }
	}
}

.hp-re-set {
	> * {
		&:last-child { margin-bottom: 0; }
	}
	> .bp-img { margin-bottom: 20px; }
}
.hr-se-par {
	h4 { margin-bottom: 15px; font-family: $fontD; font-weight: 500; @extend .fz-20; }
	> * {
		&:last-child { margin-bottom: 0; }
	}
}