 // this is area is for reserved class
#main-container { height:100%; height: auto !important; min-height:100%; overflow-x: hidden; }
.hide { position:relative;}
.ease,a,input[type="submit"],button { transition: all 0.5s ease; }
.ease2 { transition: all 0.3s ease; }
.ease-none { @include transition(none); }
.auto { max-width: $width1; margin-left: auto; margin-right: auto;
	&.width2 { max-width: $width2; }
	&.width3 { max-width: $width3; }
}
#main-wrapper { }
.fl { float:left; }
.fr { float:right; }
.clr { display: block; float:none; clear:both; }
.flex { display: flex; }
.flex-center { align-items: center; }
.flex-bottom { align-items: flex-end; }
.flex-row-reverse { flex-direction: row-reverse; }
.flex-xs { display: flex; }
@include breakpoint(tablet2) {
	.text-center-xs { text-align: center; }
	.text-left-xs { text-align: left; }
	.text-right-xs { text-align: right; }
}
@include breakpoint(sm) {
	.flex-sm { display: flex; }
	.flex-sm-row-none { flex-direction: inherit; }
	.flex-sm-row-reverse { flex-direction: row-reverse; }
	.text-center-sm { text-align: center; }
	.text-left-sm { text-align: left; }
	.text-right-sm { text-align: right; }
}
@include breakpoint(md) {
	.flex-md { display: flex; }
	.flex-md-row-none { flex-direction: inherit; }
	.flex-md-row-reverse { flex-direction: row-reverse; }
	.text-center-md { text-align: center; }
	.text-left-md { text-align: left; }
	.text-right-md { text-align: right; }
}
@include breakpoint(lg) {
	.flex-lg { display: flex; }
	.flex-lg-row-none { flex-direction: inherit; }
	.flex-lg-row-reverse { flex-direction: row-reverse; }
	.text-center-lg { text-align: center; }
	.text-left-lg { text-align: left; }
	.text-right-lg { text-align: right; }
}
.bp-set { display:inline-block; *display:inline;
  &.vm { vertical-align:middle; }
  &.vt { vertical-align:top; }
  &.vb { vertical-align:bottom; }
}
.bp-box { @include box-sizing(border-box); }
.bp-rel { position:relative; }
.bp-ab { position:absolute; }
.co-black { color: $coBlack; }
.co-white { color: $coWhite; }
.co-gray-3 { color: $coGray3; }
.co-gray-4 { color: $coGray4; }
.co-gray-5 { color: $coGray5; }

.bg-neon-green { background-color: $coNeonGreen; }
.bg-gray-1 { background-color: $coGray1; }
.bg-white { background-color: $coWhite; }

.pad-edge { padding-left: 15px; padding-right: 15px; }
.bp-img {
  img { max-width: 100%; height: auto; }
  &.wide img { display: block; width: 100%; }
}
.bp-nocurve { @include border-radius(0); }
.bp-curve { @include border-radius(5px); }
.bp-circle { @include border-radius(50%); }
.mobile-input { @include appearance(none); @include border-radius(0); }
.bp-centralize { @include transform(translate3d(0, -50%, 0)); }
.bp-centralize2 { @include transform(translate3d(-50%, 0, 0)); }
.bp-centralize3 { @include transform(translate3d(-50%, -50%, 0)); }
.no-margin { margin: 0; }
.no-padding { padding: 0; }
.pt1{padding-top:$spaceOne}
.pt2{padding-top:$spaceTwo;  }
.pt3{padding-top:$spaceThree; }
.pt4{padding-top:$spaceFour; }
.pt5{padding-top:$spaceFive; }
.pb1{padding-bottom:$spaceOne}
.pb2{padding-bottom:$spaceTwo; }
.pb3{padding-bottom:$spaceThree; }
.pb4{padding-bottom:$spaceFour; }
.pb5{padding-bottom:$spaceFive; }
.mt1{margin-top:$spaceOne}
.mt2{margin-top:$spaceTwo; }
.mt3{margin-top:$spaceThree; }
.mt4{margin-top:$spaceFour; }
.mt5{margin-top:$spaceFive; }
.mb1{margin-bottom:$spaceOne}
.mb2{margin-bottom:$spaceTwo; }
.mb3{margin-bottom:$spaceThree; }
.mb4{margin-bottom:$spaceFour; }
.mb5{margin-bottom:$spaceFive; }

@include breakpoint(tablet2) {
	.mob-pt0 { padding-top: 0; }
	.mob-pb0 { padding-bottom: 0; }

	.mob-mb1 { margin-bottom: 10px; }
	.mob-mb2 { margin-bottom: 20px; }
	.mob-mb3 { margin-bottom: 30px; }
	.mob-mb4 { margin-bottom: 40px; }
	.mob-mb5 { margin-bottom: 50px; }
}

@include breakpoint(phablet) {
	.pt2 { padding-top: $spaceOne; }
	.pt3 { padding-top: $spaceTwo; }
	.pt4 { padding-top: $spaceThree; }
	.pt5 { padding-top: $spaceFour; }
	.pb2 { padding-bottom: $spaceOne; }
	.pb3 { padding-bottom: $spaceTwo; }
	.pb4 { padding-bottom: $spaceThree; }
	.pb5 { padding-bottom: $spaceFour; }
	.mt2 { margin-top: $spaceOne; }
	.mt3 { margin-top: $spaceTwo; }
	.mt4 { margin-top: $spaceThree; }
	.mt5 { margin-top: $spaceFour; }
	.mb2 { margin-bottom: $spaceOne; }
	.mb3 { margin-bottom: $spaceTwo; }
	.mb4 { margin-bottom: $spaceThree; }
	.mb5 { margin-bottom: $spaceFour; }

	.mob-pt0 { padding-top: 0; }
	.mob-pb0 { padding-bottom: 0; }

	.mob-mb1 { margin-bottom: 10px; }
	.mob-mb2 { margin-bottom: 20px; }
	.mob-mb3 { margin-bottom: 30px; }
	.mob-mb4 { margin-bottom: 40px; }
	.mob-mb5 { margin-bottom: 50px; }
}
.bp-preloader { z-index: 9999; position:fixed; top: 0; left: 0; width:100%; height:100%; background-color: $coBlack; overflow:hidden; }
.spinner { position: absolute; width:80px; height:80px; top: 50%; left: 50%; margin-left:-40px; margin-top:-40px; @include animation(rotatee 2.0s infinite linear); }
.s-dot { display: inline-block; position: absolute; width:60%; height:60%;  top: 0; background-color:$coNeonGreen; @include border-radius(100%); @include animation(bouncee 2.0s infinite ease-in-out); }
.s-dot2 { top: auto; bottom: 0px; @include animation-delay( -1.0s); }
@include keyframes(rotatee) { 100% { @include transform(rotate(360deg)); } }
@include keyframes(bouncee) { 0%, 100% { @include transform(scale(0.0)); } 50% { @include transform(scale(1.0)); } }

// you can include here the rest of your class name eg. home page
.scrolling-touch { overflow-scrolling: touch; -webkit-overflow-scrolling: touch; }
.no-wrap { white-space: nowrap; }

.container-fluid { padding-left: 15px; padding-right: 15px;
	@include breakpoint(lg) { padding-left: 40px; padding-right: 40px; }
}

// for inview animation
.anim-content, .animated, .animate, .tween { opacity: 0; }
.animated.visible { opacity: 1; }
.anim-content.visible { animation: animRun 0.5s ease forwards; }
@keyframes animRun {
	0% { opacity: 0; transform: translateY(40px); }
	100% { opacity: 1; transform: translateY(0); }
}

// for backgrounds
.bp-banner { background-position: 50% 50%; background-repeat: no-repeat; background-size: cover; }
.parallax { background-attachment: fixed; @extend .bp-banner; overflow: hidden;
  &.bp-ab { top: 0; left: 0; width: 100%; height: 100%; }
  &.top { background-attachment: inherit; background-position: 50% 50% !important; }
  &.cover { position: absolute; z-index: 2; top: 0; left: 0; width: 100%; height: 100%; background-color: rgba($coBlack, 0.5);
  	&.red { background-color: rgba(#7e1e1e, 0.5); }
  }
}
html.bp-touch {
  .parallax { background-attachment: inherit; background-position: 50% 50% !important; }
}

.section-main { z-index: 3; position: relative; }

// for rows
.row {
	[class*="col"] {
		&[class*="mb"] {
			// &:last-child { margin-bottom: 0; }
		}

		&.col-custom-4 { max-width: 350px; }
		&.col-custom-5 { max-width: 430px; }
		&.col-short { width: auto; max-width: max-content; }
	}

	&.row-simple { margin-left: 0; margin-right: 0;
		[class*="col-"] { padding-left: 0; padding-right: 0; }
	}

	&.row-small { margin-left: -10px; margin-right: -10px;
		> [class*="col"] { padding-left: 10px; padding-right: 10px; }
	}

	&.row-small-2 { margin-left: -5px; margin-right: -5px;
		> [class*="col"] { padding-left: 5px; padding-right: 5px; }
	}

	&.row-line {
		> [class*="col"] { border-right: 1px solid $defaultColor;
			&:last-child { border-right: none; }

			@include breakpoint(tablet2) { position: relative; border-right: none; padding-bottom: 15px; margin-bottom: 15px;
				&:after { content: ''; display: block; position: absolute; bottom: 0; left: 15px; width: calc(100% - 30px); height: 1px; background-color: $defaultColor; }

				&:last-child { padding-bottom: 0; margin-bottom: 0;
					&:after { display: none; }
				}
			}
		}
	}

	@include breakpoint(md) {
		&.row-medium { margin-left: -20px; margin-right: -20px;
			[class*="col"] { padding-left: 20px; padding-right: 20px; }
		}
	}

	@include breakpoint(lg) {
		&.row-large { margin-left: -35px; margin-right: -35px;
			[class*="col"] { padding-left: 35px; padding-right: 35px; }
		}
	}

	&.pull-bottom { margin-bottom: -10px !important; }
	&.pull-bottom-15 { margin-bottom: -15px !important; }
	&.pull-bottom-25 { margin-bottom: -25px !important; }

	@include breakpoint(tablet2) {
		&.mob-pull-bottom-0 { margin-bottom: 0 !important; }
	}
}

// for buttons
.button { display: inline-block; text-align: center;
	&.button-primary { min-width: 170px; padding: 15px 20px; border-radius: 0; font-weight: bold;
		&:not([class*="fz"]) { @extend .fz-14; }

		&.btn-2 { min-width: 212px; padding-top: 15px; padding-bottom: 5px; font-family: $fontB; }

		@media (max-width: 1200px) { min-width: 140px; padding: 10px 20px; }
	}
	&.button-green { background-color: $coNeonGreen; color: $coBlack; border-color: transparent;
		&:hover, &:focus, &:active { background-color: darken($coNeonGreen, 10%); color: $coBlack; }
	}

	&.button-wide { width: 100%; }

	&:hover, &:focus, &:active { outline: none !important; box-shadow: none !important; }
}

.hc-title { text-transform: uppercase; }
h1.hc-title { color: $coNeonGreen; font-weight: bold; line-height: 0.9;
	&:not([class*="fz"]) { @extend .fz-50;
		@media (min-width: 1400px) { font-size: 80px; }
	}
	&:not([class*="font"]) { font-family: $fontC; }
	&:not([class*="mb"]) { margin-bottom: 20px; }
}
h4.hc-title { font-weight: 600;
	&:not([class*="fz"]) { @extend .fz-20; }
	&:not([class*="mb"]) { margin-bottom: 15px; }
}

.title-line { position: relative; overflow: hidden; color: $coNeonGreen;
	> span { position: relative; display: inline-block;
		&:after { content: ''; display: block; position: absolute; top: 50%; left: calc(100% + 11px); width: 1000%; border-top: 1px solid $coGray4; }
	}
}
h4.title-line { @extend .fz-18; }

.scrollar { @extend .ease; }

.flexslider { background: transparent; margin: 0; border: none; border-radius: 0;
	&.nav-1 {
		.flex-direction-nav {
			a { width: auto; height: auto; margin: -24px 0 0; background: transparent; @extend .ease2;
				&:before { display: block; content: ''; width: 48px; height: 48px; text-shadow: none; background-size: 100% 100%; background-repeat: no-repeat; background-position: center; }
			}
			.flex-prev { left: -48px; padding-right: 68px;
				&:before { background-image: url('../img/icon_arrow_left.png'); }
			}
			.flex-next { right: -48px; padding-left: 68px;
				&:before { background-image: url('../img/icon_arrow_right.png'); }
			}
		}

		&:hover {
			.flex-direction-nav {
				.flex-prev { left: -139px; }
				.flex-next { right: -139px; }
			}
		}

		@media (max-width: 1700px) {
			.flex-direction-nav {
				a { opacity: 0.7; }
				.flex-prev { left: -25px !important; padding-right: 0; }
				.flex-next { right: -25px !important; padding-left: 0; }
			}
		}
		@media (max-width: 1200px) {
			.flex-direction-nav {
				.flex-prev { left: 0 !important; }
				.flex-next { right: 0 !important; }
			}
		}

		@include breakpoint(tablet2) {
			.flex-direction-nav {
				a {
					&:before { width: 30px; height: 30px; }
				}
			}
		}
	}

	ul.slides {
		> li {
			.animate {
				> .visible { opacity: 0; }
			}
			&.flex-active-slide {
				.animate {
					> .visible { @include animation(animRun 0.5s ease forwards); }
				}
			}
		}
	}
}

.owl-carousel {
	&.nav-1 {
		.owl-nav {
			button { opacity: 0; display: block; position: absolute; width: auto; height: auto; top: 50%; margin: -24px 0 0; margin-top: -45px; outline: none !important; @extend .ease2;
				span { display: block; width: 48px; height: 48px; text-indent: -9999px; }

				&.disabled { pointer-events: none; opacity: 0 !important; }
			}
			.owl-prev { left: -48px; padding-right: 68px !important;
				span { background: url('../img/icon_arrow_left_black.png') no-repeat center; }
			}
			.owl-next { right: -48px; padding-left: 68px !important;
				span { background: url('../img/icon_arrow_right_black.png') no-repeat center; }
			}
		}

		&:hover {
			.owl-nav {
				button { opacity: 1; }
				.owl-prev { left: -139px; }
				.owl-next { right: -139px; }
			}
		}

		@media (max-width: 1700px) { padding-left: 38px; padding-right: 38px;
			.owl-nav {
				button { opacity: 1; }
				.owl-prev { left: -25px !important; padding-right: 0 !important; }
				.owl-next { right: -25px !important; padding-left: 0 !important; }
			}
		}

		@media (max-width: 1200px) {
			.owl-nav {
				.owl-prev { left: 0 !important; }
				.owl-next { right: 0 !important; }
			}
		}
	}
}