// include all your new classess here that is intended for mobile. Only if necessary but please use breakpoints mixins
.menu-bar { display: none; position: absolute; top: 50%; right: 15px; cursor: pointer; @extend .bp-centralize;
  span { display: block; width: 30px; height: 3px; margin: 6px 0; background: $coNeonGreen; @include transition(all 0.3s 0.3s ease); @extend .bp-curve; }
  &.active {
    span {
      &:nth-child(1) { @include transform(translateY(9px) rotate(45deg)); }
      &:nth-child(2) { opacity: 0; @include transform(scale(0.8)); }
      &:nth-child(3) { @include transform(translateY(-9px) rotate(-45deg)); }
    }
  }

  @include breakpoint(laptop) { display: block; }
}

.bp-desktop {  }
.bp-mobile { display: none !important; }
@include breakpoint(tablet) {
	.bp-desktop { display: none !important; }
	.bp-mobile { display: block !important; }
	.bp-n-mobile { display: none !important; }
}

.menu-mobile { color: $coWhite;
	&.main { display: none; z-index: 99; position: fixed; top: 0; left: 0; width: 100%; height: 100%; overflow: auto; }
	&.cover { z-index: 98; position: fixed; top: 0; left: 0; width: 100%; height: 100%; background-color: rgba($coBlack, 0.9); }

	@include breakpoint(non-laptop) { display: none !important; }
	@include breakpoint(laptop) {
		&.cover { height: 0; 
			transition: background .44s .2s cubic-bezier(0.52, 0.16, 0.24, 1),height .56s cubic-bezier(0.52, 0.16, 0.24, 1); }
	}
}
body.menu-active {
	@include breakpoint(laptop) {
		.menu-mobile {
			&.cover { height: 100%; transition: background .36s cubic-bezier(0.32, 0.08, 0.24, 1),height .56s cubic-bezier(0.52, 0.16, 0.24, 1); }
		}
	}
}

.me-mo-main { text-align: center; padding: 15px; font-size: 30px;
	> * { margin-bottom: 30px;
		&:last-child { margin-bottom: 0; }
	}

	.hc-co-col { display: block !important;
		> * { margin-bottom: 30px;
			&:last-child { margin-bottom: 0; }
		}
	}

	.menu, .button { font-size: inherit !important; }

	.menu {
		> ul {
			> li { display: block; margin: 25px 0;
				&:first-child { margin-top: 0; }
			}
		}
	}

	@include breakpoint(phablet) { font-size: 20px;
		.menu > ul > li { margin: 20px 0; }
	}
}
.me-mo-bottom { z-index: 2; position: absolute; bottom: 20px; left: 0; width: 100%; text-align: center; }