.or-no-form {
	> * { margin-bottom: 10px;
		&:last-child { margin-bottom: 0; }
	}

	.form-group { @extend .mb3; }
}

.or-no-input { padding: 10px 20px; height: 60px; border: 2px solid $coGray6; border-radius: 0; color: $coGray1; background-clip: border-box; box-shadow: none !important; @extend .fz-16, .mobile-input;
	@include placeholder{ color: $coGray2; }
	&:focus { border-color: $coNeonGreen; outline: none !important; box-shadow: none !important; }

	@include breakpoint(tablet2) { height: 50px; }
}

.or-no-select {
	.com__sb-title { @extend .or-no-input;
		&:after { content: ''; border-top: 10px solid $coGray1; border-left: 10px solid transparent; border-right: 10px solid transparent; }

		@include breakpoint(tablet2) {
			&:after { border-top-width: 6px; border-left-width: 6px; border-right-width: 6px; }
		}
	}

	.com__sb-list { height: auto; padding: 0; border-top: none; @extend .or-no-input;
		> li { padding: 10px 20px;
			&:hover, &.selected { background-color: $coGray1; }
		}
	}

	&.selected {
		.com__sb-title, .com__sb-list { border-color: $coNeonGreen; }
	}
}

.or-no-num { display: flex; align-items: center; justify-content: space-between; color: $coNeonGreen; font-weight: bold; @extend .fz-18;
	.cur { font-weight: normal; }
	.num { @extend .fz-24; }
}

.or-no-check { padding-left: 40px;
	input[type="checkbox"] { width: 24px; height: 24px; margin-top: 0; background-color: $coWhite; border: 2px solid $coGray6; @extend .mobile-input;
		&:after { opacity: 0; content: '\f00c'; display: block; position: absolute; bottom: -2px; right: -1px; font-family: $FontAwesome; font-size: 20px; font-weight: 900; }
		
		&:checked { border-color: $coNeonGreen;
			&:after { opacity: 1; }
		}
	}

	.form-check-input { margin-left: -40px; }
}