.fancybox-content { }
.fancybox-slide {
	@include breakpoint(tablet2) { padding: 15px; }
}
.fancybox-slide--video .fancybox-content { max-width: calc(100% - 280px); border: 15px solid $coNeonGreen;
	@include breakpoint(desktop) { max-width: 100%; border-width: 5px; }
}

.fancybox-button {
	&.fancybox-button--close {
		&:hover { color: $coNeonGreen; }
	}
}

.fancybox-is-open .fancybox-bg { opacity: 1; background-color: rgba($coBlack, 0.7);
	@include breakpoint(laptop) { background-color: rgba($coBlack, 0.9); }
}
.fancybox-button { background: transparent; }