.com__sb-title { display: flex; align-items: center; width: 100%; min-width: 70px; min-height: 40px; padding: 10px 15px; padding-right: 35px; line-height: 1.5; background-color: $coWhite; border: 1px solid $coGray6; font-size: inherit; cursor: pointer; transition: all 0.15s ease;
	&:after { content: '\f078'; display: block; position: absolute; top: 50%; right: 15px; font-size: 14px; font-family: $FontAwesome; color: $coGray1; @extend .bp-centralize; }
}

.com__sb-list { z-index: 100; position: absolute; top: 100%; left: 0; width: 100%; max-height: 300px; border: 1px solid $coGray6; border-top: none; background-color: $coWhite; font-size: inherit; overflow: auto; @extend .scrolling-touch;
	opacity: 0; pointer-events: none; transform-origin: 50% 0; -webkit-transform-origin: 50% 0; -moz-transform-origin: 50% 0; @include transform(scale(0.75)); @include transition(all 0.2s cubic-bezier(0.5, 0, 0, 1.25),opacity 0.15s ease-out);
	> li { padding: 5px 15px; color: inherit; cursor: pointer; @extend .ease2;
		&:hover, &.selected, &.active { background-color: $coGray1; color: $coWhite; }
	}

	&.active { opacity: 1; pointer-events: auto; @include transform(scale(1)); }
}

.com__select-box { position: relative;
	&.selected {
		.com__sb-list {  @extend .com__sb-list.active; }
	}

	&.select-mobile {
		select { opacity: 0; z-index: 5; display: block; position: absolute; top: 0; left: 0; width: 100%; height: 100%; }
	}
}