// includes all tags for paragraphs and titles such as header, p, span
h1 { font-size: 2em; }
h2 { font-size: 1.5em; }
h3 { font-size: 1.17em; }
h4 { font-size: 1em; }
h5 { font-size: 0.83em; }
h6 { font-size: 0.67em; }
.par p { padding:10px 0px; }
.par2 p { padding:5px 0px; }
.bp-center { text-align:center; }
.bp-left { text-align:left; }
.bp-right { text-align:right; }
.bp-justify { text-align:justify; }
.bp-tt { text-transform:uppercase; }
.fz-12 { font-size: 12px; }
.fz-14 { font-size: 14px; }
.fz-16 { font-size: 16px; }
.fz-18 { font-size: 18px; }
.fz-20 { font-size: 20px; }
.fz-24 { font-size: 24px; }
.fz-30 { font-size: 30px; }
.fz-34 { font-size: 34px; }
.fz-36 { font-size: 36px; }
.fz-40 { font-size: 40px; }
.fz-44 { font-size: 44px; }
.fz-50 { font-size: 50px; }

@include breakpoint(macbook) {
	.fz-30 { font-size: 28px; }
	.fz-34 { font-size: 32px; }
	.fz-36 { font-size: 34px; }
	.fz-40 { font-size: 38px; }
	.fz-44 { font-size: 42px; }
	.fz-50 { font-size: 46px; }
}

@include breakpoint(phablet) {
	.fz-16 { font-size: 13px; }
	.fz-18 { font-size: 14px; }
	.fz-20 { font-size: 16px; }
	.fz-24 { font-size: 20px; }
	.fz-30 { font-size: 26px; }
	.fz-34 { font-size: 30px; }
	.fz-36 { font-size: 34px; }
	.fz-40 { font-size: 36px; }
	.fz-44 { font-size: 40px; }
	.fz-50 { font-size: 44px; }

	.mob-fz-16 { font-size: 16px; }
}

@include breakpoint(mobile) {
	.fz-34 { font-size: 28px; }
	.fz-36 { font-size: 32px; }
	.fz-40 { font-size: 34px; }
	.fz-44 { font-size: 38px; }
	.fz-50 { font-size: 40px; }
}