// include all templated CSS properties here such as font sizes, margin, padding, color, background color, etc

// for width
$width1   : 1440px; // can be use as max width of the container
$width2   : 1400px;
$width3   : 750px;

// for fonts
$defaultFont: 'Montserrat', 'Helvetica', 'Calibri'; // default font families and error support for any html tags
$fontA      : 'Montserrat', 'Helvetica', 'Calibri';
$fontB      : 'SukhumvitSet', 'Helvetica', 'Calibri';
$fontC      : 'BebasNeue', 'Helvetica', 'Calibri';
$fontD      : 'Kanit', 'Helvetica', 'Calibri';
$fontE      : 'SukhumvitSet', 'Helvetica', 'Calibri';

$FontAwesome: 'Font Awesome 5 Pro';

// for font sizes
$fontSmall  : 12px;
$fontMedium : 14px;
$fontLarge  : 16px;
$fontxLarge : 18px;
$fontxxLarge: 20px;

// for colors
$defaultColor     : #222; // default color for the independent paragraphs, input fields, etc
$defaultLinkColor : #3189DD; // default link color for the whole site
$coWhite          : #ffffff;
$coBlack          : #000000;
$coNeonGreen      : #CCFF00;

$coGray1          : #111111;
$coGray2          : #222222;
$coGray3          : #cccccc;
$coGray4          : #444444;
$coGray5          : #999999;
$coGray6          : #e1e8ee;

// for margin and padding
$spaceOne   : 10px;
$spaceTwo   : 20px;
$spaceThree : 30px;
$spaceFour  : 40px;
$spaceFive  : 50px;